<h1>Powerplay</h1>

@if ((events$ | async)?.[0]; as event) {
	<span class="text-upper">Power:</span> {{ event.Power }}
	<span class="text-upper">Rank:</span> {{ event.Rank }}
}

<ul>
	@for (event of events$ | async; track $index) {
		<li>
			<p><span class="text-upper">Merits:</span> {{ event.Merits }} - {{ event.timestamp }}</p>
		</li>
	}
</ul>

<h1>Merits gained</h1>

<ul>
	@for (merits of merits$ | async; track $index) {
		<li>
			<p><span class="text-upper">Merits:</span> {{ merits.MeritsGained }} - {{ merits.TotalMerits }} - {{ merits.timestamp }}</p>
		</li>
	}
</ul>

<h1>System</h1>

<pre>
{{ systemInfo$ | async | json }}
</pre>
